@model EmployeeDeptProject.Web.Models.Department
@{
    ViewData["Title"] = "DeptDetails";
}

<h1>DeptDetails</h1>
<h3>@Model.DeptName</h3>
@*<p>@Model.EmpSalary</p>
<p>@Model.Departments.DeptId</p>*@
<a class="btn btn-outline-Danger" asp-controller="Department" asp-action="DeptIndex"> Back </a>





