
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnYn-WumI3E2JE5wkfk7ihRXK36N66GK1iqg&usqp=CAU")
    }
</style>
@*<div class="text-center">
    <h1 class="display-4" style="color:aqua" >Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

